<div class="center jumbotron">

  <h1>Welcme to InstaBudget</h1>
  <h2>This is the homepage of the
  <a href="http://cur.lv/v6gkd">InstaBudget</a>
  </h2>

<!-- This is the buttom signup (part of bootstrap)-->
  <%= link_to "Sign up now!",signup_url, class: "btn btn-lg btn btn-primary"%>
</div>

<%= link_to image_tag("railsTemplate.png", alt:"rails logo"),
    "https://twitter.com/RaedTulefat"%>
