<div class="center jumbotron">

  <h1>Welcme to the Sample App</h1>
  <h2>This is the homepage of the
  <a href="http//:www.railstutorial.org">Ruby on rails tutorial</a>
  </h2>

<!-- This is the buttom signup (part of bootstrap)-->
  <%= link_to "Sign up now!",signup_url, class: "btn btn-lg btn btn-primary"%>
</div>

<%= link_to image_tag("rails.png", alt:"rails logo"),
    "http//:www.railstutorial.org"%>
